body {
	display: flex;
}

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 850px;
	margin-top: 3rem;
}

.header {
  position: relative;
}

h1 {
	font-size: 3rem;
	font-family: "ff mark pro", sans-serif;
	font-weight: 700;
	text-rendering: optimizeLegibility;
	margin-bottom: 1px;
}

h2 {
	font-family: "ff mark pro", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-rendering: optimizeLegibility;
	margin-top: 0;
}


p {
	font-family: "ff mark pro", sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
}

.btn2 {
	width: 180px;
	display: inline;
	text-decoration: none;
 background: #3159EA;
 padding: 12px 24px;
 color: white;
 border-radius: 5px;
 border: 0;
 font-family: "ff mark pro", sans-serif;
 font-weight: 600;
 text-rendering: optimizeLegibility;
 line-height: 1.5;
}


a {
	display: block;
	height: 2.4rem;
 	width: 2.4rem;
 	background-size: 2.4rem;
 	background-position: center;
 	background-clip: border-box;
 	background-repeat: no-repeat;
}

